@use "../settings/colors-applied";
@use "../settings/measurements";

// Keyboard focus style
@mixin fs-focus-ring {
  outline: measurements.$fs-focus-width solid colors-applied.$fs-focus-color;
  color: colors-applied.$fs-focus-color;
  background-color: colors-applied.$fs-focus-color;
}

// Hide elements while keeping them available to screen readers
@mixin fs-visually-hidden($important: false) {
  position: absolute if($important, !important, null);
  width: 1px if($important, !important, null);
  height: 1px if($important, !important, null);
  margin: -1px if($important, !important, null);
  padding: 0 if($important, !important, null);
  border: 0 if($important, !important, null);
  overflow: hidden if($important, !important, null);
  clip: rect(0 0 0 0) if($important, !important, null);
}
