@use "../settings";
@use "a11y";
@use "colors";
@use "spacing";

@use "sass:math";

@mixin _fs-input-base(
  $border-width: settings.$fs-border-width-form-element,
  $border-color: settings.$fs-form-element-border-color,
  $border-radius: settings.$fs-form-element-border-radius,
  $text-color: settings.$fs-form-element-text-color,
  $background-color: settings.$fs-form-element-background-color
) {
  @include spacing.fs-responsive-margin(0, $direction: all);
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  color: $text-color;
  background-color: $background-color;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
}

@mixin _fs-input-checkradio($size, $vertical-offset) {
  @include _fs-input-base;
  box-sizing: content-box;
  display: inline-block;
  inline-size: $size;
  block-size: $size;
  position: relative;
  @if $vertical-offset != 0 {
    inset-block-start: $vertical-offset;
  }
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin _fs-input-disabled {
  filter: grayscale(100%);
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

@mixin _fs-input-error {
  outline: settings.$fs-border-width-form-element-error solid
    settings.$fs-error-color;
}

@mixin fs-input-mask {
  @include _fs-input-base;
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-vertical-padding,
    $direction: block
  );
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-horizontal-padding,
    $direction: inline
  );
}

@mixin fs-input-file {
  @include _fs-input-base;
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-vertical-padding,
    $direction: block
  );
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-horizontal-padding,
    $direction: inline
  );
  max-inline-size: 100%;
  &:focus {
    @include a11y.fs-focus-ring;
  }
}

@mixin fs-input-drag-and-drop {
  @include _fs-input-base;
  @include spacing.fs-responsive-padding(6, $direction: all);
  border-style: dashed;
  &:focus-within {
    @include a11y.fs-focus-ring;
  }
}

@mixin fs-input-text($number-hide-controls: true, $search-hide-controls: true) {
  @include _fs-input-base;
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-vertical-padding,
    $direction: block
  );
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-horizontal-padding,
    $direction: inline
  );
  inline-size: 100%;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  @if $number-hide-controls {
    &[type="number"] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }
  }
  &[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @if $search-hide-controls {
      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }
  &[aria-invalid="true"] {
    @include _fs-input-error;
  }
  &:focus {
    @include a11y.fs-focus-ring;
  }
  &:disabled {
    @include _fs-input-disabled;
  }
}

@mixin fs-input-select {
  @include _fs-input-base;
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-vertical-padding,
    $direction: block
  );
  @include spacing.fs-responsive-padding(
    settings.$fs-form-element-horizontal-padding,
    $direction: inline
  );
  inline-size: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &[aria-invalid="true"] {
    @include _fs-input-error;
  }
  &:focus {
    @include a11y.fs-focus-ring;
  }
  &:disabled {
    @include _fs-input-disabled;
  }
}

@mixin fs-input-checkbox(
  $size: settings.$fs-check-radio-size,
  $vertical-offset: 0,
  $check-ratio: 0.6,
  $check-stroke: settings.$fs-border-width-form-element,
  $check-color: settings.$fs-form-element-border-color,
  $border-radius: 0
) {
  @include _fs-input-checkradio(
    $size: $size,
    $vertical-offset: $vertical-offset
  );
  border-radius: $border-radius;
  &::after {
    $check-width: $size * $check-ratio;
    $check-height: $check-width * 0.4;
    display: block;
    block-size: $check-height;
    inline-size: $check-width;
    border-width: 0 0 $check-stroke $check-stroke;
    border-style: solid;
    border-color: $check-color;
    position: absolute;
    inset-block-start: calc(#{math.div($size - $check-height, 2.5)} - 1px);
    inset-inline-start: calc(#{math.div($size - $check-width, 2)} - 1px);
    transform: rotate(-45deg);
  }
  &[aria-invalid="true"] {
    @include _fs-input-error;
  }
  &:checked {
    &::after {
      content: "";
    }
  }
  &:focus {
    @include a11y.fs-focus-ring;
  }
  &:disabled {
    @include _fs-input-disabled;
  }
}

@mixin fs-input-radio(
  $size: settings.$fs-check-radio-size,
  $vertical-offset: 0,
  $check-ratio: 0.6,
  $check-color: settings.$fs-form-element-border-color
) {
  @include _fs-input-checkradio(
    $size: $size,
    $vertical-offset: $vertical-offset
  );
  border-radius: $size;
  &::after {
    $check-size: $size * $check-ratio;
    display: block;
    inline-size: $check-size;
    block-size: $check-size;
    border-radius: $check-size;
    position: absolute;
    inset-block-start: calc(50% - #{math.div($check-size, 2)});
    inset-inline-start: calc(50% - #{math.div($check-size, 2)});
    background-color: $check-color;
  }
  &[aria-invalid="true"] {
    @include _fs-input-error;
  }
  &:checked {
    &::after {
      content: "";
    }
  }
  &:focus {
    @include a11y.fs-focus-ring;
  }
  &:disabled {
    @include _fs-input-disabled;
  }
}

@mixin fs-input-toggle(
  $height: settings.$fs-check-radio-size,
  $width: settings.$fs-check-radio-size * 2,
  $vertical-offset: 0,
  $knob-inset: settings.$fs-border-width-form-element,
  $knob-color: settings.$fs-form-element-border-color,
  $background-color: settings.$fs-form-element-background-color,
  $background-color-checked: settings.$fs-form-element-background-color,
  $border-radius: 0
) {
  $knob-size: calc(#{$height} - #{$knob-inset} * 2);
  @include _fs-input-checkradio(
    $size: $height,
    $vertical-offset: $vertical-offset
  );
  inline-size: $width;
  border-radius: $border-radius;
  background-color: $background-color;
  &,
  &::after {
    transition-property: background-color, inset-inline-start;
    transition-duration: 0.333s;
    transition-timing-function: ease-in-out;
  }
  &::after {
    content: "";
    display: block;
    block-size: $knob-size;
    inline-size: $knob-size;
    border-radius: $border-radius;
    position: absolute;
    inset-block-start: calc(50% - #{$knob-size} / 2);
    inset-inline-start: $knob-inset;
    background-color: $knob-color;
  }
  &[aria-invalid="true"] {
    @include _fs-input-error;
  }
  &:checked {
    background-color: $background-color-checked;
    &::after {
      inset-inline-start: calc(#{$width} - #{$knob-size} - #{$knob-inset});
    }
  }
  &:focus {
    @include a11y.fs-focus-ring;
  }
  &:disabled {
    @include _fs-input-disabled;
  }
}
