@use "../settings";
@use "a11y";

@mixin _fs-link-common {
  &:focus {
    @include a11y.fs-focus-ring;
  }
  @media only print {
    &[href^="/"],
    &[href^="http://"],
    &[href^="https://"]
    {
      &:after {
        content: " (" attr(href) ")";
        font-size: 90%;
        word-wrap: break-word;
      }
    }
  }
}

@mixin fs-link($visited-style: true) {
  @include _fs-link-common;
  $self: &;
  color: settings.$fs-link-color;
  text-decoration: underline;
  @if $visited-style {
    &:visited {
      color: settings.$fs-link-visited-color;
    }
  }
  &:hover {
    color: settings.$fs-link-hover-color;
  }
  &:active {
    color: settings.$fs-link-active-color;
  }
}

@mixin fs-link--text {
  @include _fs-link-common;
  &,
  &:visited,
  &:hover,
  &:active {
    color: settings.$fs-text-color;
    text-decoration: underline;
  }
}

@mixin fs-link--muted {
  @include _fs-link-common;
  &,
  &:visited,
  &:hover,
  &:active {
    color: settings.$fs-text-color-secondary;
    text-decoration: underline;
  }
}
