@use "../settings";
@use "measurements";
@use "media-queries";

@use "sass:meta";
@use "sass:map";

@function fs-spacing($spacing-point, $breakpoint: null) {
  $actual-input-type: meta.type-of($spacing-point);
  @if $actual-input-type != "number" {
    @warn "Expected an integer, but was passed a #{$actual-input-type}.";
    @return 0;
  }
  @if not map.has-key(settings.$fs-spacing, $spacing-point) {
    @warn "Unknown spacing point `#{$spacing-point}` - expected a key from the `$fs-spacing` map.";
    @return 0;
  }
  $spacing-map: map.get(settings.$fs-spacing, $spacing-point);
  @if not map.has-key($spacing-map, $breakpoint) {
    @warn "Breakpoint `#{$breakpoint}` does not exist for spacing point `#{$spacing-point}` in `$fs-spacing` map.";
    @return 0;
  }
  @return measurements.fs-px-to-rem(map.get($spacing-map, $breakpoint));
}

// Responsive spacing mixin
@mixin fs-responsive-spacing(
  $spacing-point,
  $property,
  $direction: "all",
  $important: false
) {
  $spacing-map: map.get(settings.$fs-spacing, $spacing-point);
  @each $breakpoint, $breakpoint-value in $spacing-map {
    @if ($breakpoint == null) {
      @if $direction == "all" {
        #{$property}: fs-spacing($spacing-point)
          if($important, !important, null);
      } @else {
        #{$property}-#{$direction}: fs-spacing($spacing-point)
          if($important, !important, null);
      }
    } @else {
      @include media-queries.fs-mq($from: $breakpoint) {
        @if $direction == "all" {
          #{$property}: fs-spacing($spacing-point, $breakpoint)
            if($important, !important, null);
        } @else {
          #{$property}-#{$direction}: fs-spacing($spacing-point, $breakpoint)
            if($important, !important, null);
        }
      }
    }
  }
}

// Responsive margins
@mixin fs-responsive-margin(
  $spacing-point,
  $direction: "all",
  $important: false
) {
  @include fs-responsive-spacing(
    $spacing-point,
    "margin",
    $direction,
    $important
  );
}

// Responsive padding
@mixin fs-responsive-padding(
  $spacing-point,
  $direction: "all",
  $important: false
) {
  @include fs-responsive-spacing(
    $spacing-point,
    "padding",
    $direction,
    $important
  );
}
