@use "../settings";
@use "measurements";
@use "media-queries";

@use "sass:map";
@use "sass:math";

// Common typography rules
@mixin fs-typography-common {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Convert pixel line-heights into relative values
@function _fs-line-height($line-height, $font-size) {
  @if not
    math.is-unitless($line-height) and
    math.unit($line-height) ==
    math.unit($font-size)
  {
    $line-height: math.div($line-height, $font-size);
  }
  @return $line-height;
}

// Font family
@mixin fs-font-stack($stack, $weight: false, $important: false) {
  @if not map.has-key(settings.$fs-font-stacks, $stack) {
    @warn "Unknown font stack `#{$stack}` - expected a key from the `$fs-font-stacks` map.";
  } @else {
    $stack-map: map.get(settings.$fs-font-stacks, $stack);
    font-family: map.get($stack-map, "stack") if($important, !important, null);
    @if $weight {
      @if map.has-key($stack-map, $weight) {
        font-weight: map.get($stack-map, $weight)
          if($important, !important, null);
      } @else {
        font-weight: $weight if($important, !important, null);
      }
    }
  }
}

// Responsive font-size mixin
@mixin fs-font-size($size, $important: false) {
  @if not map.has-key(settings.$fs-font-sizes, $size) {
    @warn "Unknown font size `#{$size}` - expected a key from the `$fs-font-sizes` map.";
  } @else {
    $size-map: map.get(settings.$fs-font-sizes, $size);
    @each $breakpoint, $breakpoint-map in $size-map {
      $font-size: map.get($breakpoint-map, "font-size");
      $font-size-rem: measurements.fs-px-to-rem($font-size);
      $line-height: _fs-line-height(
        map-get($breakpoint-map, "line-height"),
        $font-size
      );
      @if $important {
        $font-size: $font-size !important;
        $font-size-rem: $font-size-rem !important;
        $line-height: $line-height !important;
      }
      @if ($breakpoint == null) {
        font-size: $font-size-rem;
        line-height: $line-height;
      } @else {
        @include media-queries.fs-mq($from: $breakpoint) {
          font-size: $font-size-rem;
          line-height: $line-height;
        }
      }
    }
  }
}

// Activate tabular figures (only works if the font supports it)
@mixin fs-tabular-figures {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}
