@use "../settings";
@use "../helpers/reset";
@use "../helpers/spacing";
@use "../helpers/typography";

.fs-form-row {
  @include spacing.fs-responsive-margin(6, $direction: block-end);
}

.fs-fieldset {
  @include reset.fs-reset-fieldset;
  > :last-child {
    @include spacing.fs-responsive-margin(0, $direction: block-end);
  }
  &__legend {
    @include spacing.fs-responsive-margin(1, $direction: block-end);
    @include typography.fs-font-stack(body, $weight: regular);
    @include typography.fs-font-size(19);
    display: table;
    max-inline-size: 100%;
    padding: 0;
    white-space: normal;
    &--xl,
    &--l,
    &--m,
    &--s {
      @include spacing.fs-responsive-margin(3, $direction: block-end);
      @include typography.fs-font-stack(header, $weight: bold);
    }
    &--xl {
      @include typography.fs-font-size(48);
    }
    &--l {
      @include typography.fs-font-size(36);
    }
    &--m {
      @include typography.fs-font-size(24);
    }
  }
}

.fs-label {
  @include spacing.fs-responsive-margin(1, $direction: block-end);
  @include typography.fs-font-stack(body, $weight: regular);
  @include typography.fs-font-size(19);
  display: block;
}

.fs-hint {
  @include spacing.fs-responsive-margin(2, $direction: block-end);
  @include typography.fs-font-stack(body, $weight: regular);
  @include typography.fs-font-size(19);
  display: block;
  color: settings.$fs-text-color-secondary;
}

.fs-error {
  @include spacing.fs-responsive-margin(2, $direction: block-end);
  @include typography.fs-font-stack(body, $weight: bold);
  @include typography.fs-font-size(19);
  display: block;
  color: settings.$fs-error-color;
}
