@use "../settings";
@use "../helpers/spacing";

.fs-rule {
  margin: 0;
  border: 0;
  &--xl {
    @include spacing.fs-responsive-margin(8, $direction: block);
  }
  &--l {
    @include spacing.fs-responsive-margin(6, $direction: block);
  }
  &--m {
    @include spacing.fs-responsive-margin(4, $direction: block);
  }
  &--visible {
    border-block-end: settings.$fs-hr-width solid settings.$fs-border-color;
  }
}
