@use "../helpers/spacing";

// Lists
.fs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li + li {
    @include spacing.fs-responsive-margin(1, $direction: top);
  }
  &--bulleted {
    padding-left: 1em;
    list-style-type: disc;
  }
  &--numbered {
    padding-left: 1em;
    list-style-type: decimal;
  }
  &--spaced {
    li + li {
      @include spacing.fs-responsive-margin(3, $direction: top);
    }
  }
}
