@use "../settings/typography-font";
@use "../settings/colors-applied";
@use "../helpers/spacing";
@use "../helpers/typography";

// Headings
.fs-heading-xl,
.fs-heading-l,
.fs-heading-m,
.fs-heading-s {
  @include spacing.fs-responsive-margin(0, $direction: top);
  color: colors-applied.$fs-text-color-heading;
  font-family: typography-font.$fs-font-header;
  font-weight: typography-font.$fs-font-header-bold;
}

.fs-heading-xl {
  @include spacing.fs-responsive-margin(8, $direction: bottom);
  @include typography.fs-font-size(48);
}

.fs-heading-l {
  @include spacing.fs-responsive-margin(6, $direction: bottom);
  @include typography.fs-font-size(36);
}

.fs-heading-m {
  @include spacing.fs-responsive-margin(4, $direction: bottom);
  @include typography.fs-font-size(24);
}

.fs-heading-s {
  @include spacing.fs-responsive-margin(4, $direction: bottom);
  @include typography.fs-font-size(19);
}

// Subheadings
.fs-subheading-xl,
.fs-subheading-l,
.fs-subheading-m {
  display: block;
  color: colors-applied.$fs-text-color-secondary;
  font-family: typography-font.$fs-font-header;
  font-weight: typography-font.$fs-font-header-regular;
}

.fs-subheading-xl {
  @include spacing.fs-responsive-margin(1, $direction: bottom);
  @include typography.fs-font-size(36);
}

.fs-subheading-l {
  @include typography.fs-font-size(24);
}

.fs-subheading-m {
  @include typography.fs-font-size(19);
}

// Body copy
.fs-body,
.fs-body-l,
.fs-body-s {
  @include spacing.fs-responsive-margin(0, $direction: top);
  @include spacing.fs-responsive-margin(3, $direction: bottom);
}

.fs-body {
  @include typography.fs-font-size(19);
}

.fs-body-l {
  @include typography.fs-font-size(24);
}

.fs-body-s {
  @include typography.fs-font-size(16);
}
