@use "../settings";
@use "../helpers/arrows";
@use "../helpers/reset";
@use "../helpers/links";
@use "../helpers/typography";
@use "../helpers/media-queries";

// Breadcrumbs
$separator-size: 0.6em !default;
$separator-color: settings.$fs-text-color-secondary !default;
$link-color: settings.$fs-link-color !default;

.fs-breadcrumbs {
  $self: &;
  @include typography.fs-font-size(16);
  &__list {
    @include reset.fs-reset-list;
  }
  &__item {
    display: inline-block;
    &::before,
    &::after {
      $separator-size: $separator-size;
      display: inline-block;
      block-size: $separator-size;
      inline-size: $separator-size * 0.5;
      margin-inline: 0.25em;
      background-color: $separator-color;
    }
    @include media-queries.fs-mq($to: tablet) {
      &:nth-last-child(n + 3),
      &:last-child {
        display: none;
      }
      &:nth-last-child(n + 2)::before {
        @include arrows.fs-arrow($direction: inline-start);
        content: "";
        margin-inline-start: 0;
      }
    }
    @include media-queries.fs-mq($from: tablet) {
      &:nth-last-child(n + 2)::after {
        @include arrows.fs-arrow($direction: inline-end);
        content: "";
      }
    }
  }
  &__link {
    @include typography.fs-font-stack(body, $weight: regular);
    @include links.fs-link--text($color: $link-color, $underline: false);
    &[aria-current] {
      @include typography.fs-font-stack(body, $weight: bold);
    }
  }
}
