@use "../settings";
@use "../helpers/spacing";
@use "../helpers/typography";
@use "../helpers/links";

// Card
$border-width: settings.$fs-border-width-narrow !default;
$border-color: settings.$fs-border-color !default;
$border-radius: if(
  settings.$fs-enable-rounded-corners,
  settings.$fs-border-radius,
  0
) !default;

.fs-card {
  $self: &;
  position: relative;
  &__media {
    line-height: 0;
    a {
      display: block;
    }
  }
  &__image {
    block-size: auto;
    inline-size: 100%;
  }
  &__body {
    @include spacing.fs-responsive-padding(3, $direction: block-start);
  }
  &__heading {
    display: block;
  }
  &__link {
    &--spread {
      @include links.fs-spread-link;
    }
  }
  &__content {
    @include typography.fs-font-size(16);
  }
  &--bordered {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    #{$self}__body {
      @include spacing.fs-responsive-padding(3, $direction: all);
    }
  }
}
