@use "../settings";

@use "../helpers/forms";
@use "../helpers/spacing";

.fs-checkbox {
  $checkbox-size: settings.$fs-checkbox-size;
  @include spacing.fs-responsive-margin(3, $direction: bottom);
  padding-left: calc(#{$checkbox-size} + #{spacing.fs-spacing(3)});
  &__input {
    @include forms.fs-input-checkbox;
    margin-left: calc(0px - (#{$checkbox-size} + #{spacing.fs-spacing(3)}));
    float: left;
  }
  &__label {
  }
  &__hint {
  }
}
