@use "../settings";
@use "../helpers/colors";
@use "../helpers/links";
@use "../helpers/spacing";
@use "../helpers/typography";

// Fat footer
$background-color: colors.fs-color("grey90") !default;
$text-color: colors.fs-color("white") !default;

.fs-fat-footer {
  @include spacing.fs-responsive-padding(3, $direction: block);
  color: $text-color;
  background-color: $background-color;
  &__inner {
  }
  &__heading {
    @include typography.fs-font-stack(header, $weight: bold);
    @include typography.fs-font-size(19);
  }
  &__link {
    @include links.fs-link--text($color: currentColor, $underline: false);
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
