@use "../settings";

@use "../helpers/forms";
@use "../helpers/spacing";

.fs-file-upload {
  @include forms.fs-input-file;
}

.fs-file-drag-and-drop {
  @include forms.fs-input-drag-and-drop;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  &__input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  &__icons {
    @include spacing.fs-responsive-margin(3, $direction: bottom);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    @include spacing.fs-responsive-margin(1, $direction: all);
    width: settings.$fs-file-upload-thumbnail-size;
    height: settings.$fs-file-upload-thumbnail-size;
    object-fit: cover;
  }
  &__label {
    color: settings.$fs-text-color-secondary;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  &--highlight {
    background-color: red;
  }
}
