@use "../settings";
@use "../helpers/forms";
@use "../helpers/spacing";

$thumbnail-size: 6rem !default;

.fs-file-upload {
  @include forms.fs-input-file;
}

.fs-file-drag-and-drop {
  @include forms.fs-input-drag-and-drop;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  &__input {
    block-size: 100%;
    inline-size: 100%;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    cursor: pointer;
    opacity: 0;
  }
  &__icons {
    @include spacing.fs-responsive-margin(3, $direction: block-end);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    @include spacing.fs-responsive-margin(1, $direction: all);
    block-size: $thumbnail-size;
    inline-size: $thumbnail-size;
    object-fit: cover;
  }
  &__label {
    color: settings.$fs-text-color-secondary;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  &--highlight {
    background-color: red;
  }
}
