@use "../settings";
@use "../helpers/media-queries";
@use "../helpers/reset";
@use "../helpers/spacing";
@use "../helpers/typography";
@use "../helpers/links";

// Footer
$background-color: settings.$fs-canvas-background-color !default;
$text-color: settings.$fs-text-color-secondary !default;

.fs-footer {
  @include spacing.fs-responsive-padding(3, $direction: block);
  @include typography.fs-font-size(14);
  color: $text-color;
  background-color: $background-color;
  &__inner {
  }
  &__legal {
  }
  &__links {
  }
  &__list {
    @include reset.fs-reset-list;
    @include spacing.fs-responsive-margin(3, $direction: block-start);
    @include media-queries.fs-mq($from: desktop) {
      @include spacing.fs-responsive-margin(0, $direction: block-start);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  &__item {
    @include media-queries.fs-mq($from: desktop) {
      & + & {
        @include spacing.fs-responsive-margin(3, $direction: inline-start);
      }
    }
  }
  &__link {
    @include links.fs-link--text($color: currentColor, $underline: false);
  }
}
