@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";

// Hero
$margin: 9 !default;
$padding: 6 !default;
$text-color: false !default;
$background-color: settings.$fs-brand-color !default;
$border-radius: if(
  settings.$fs-enable-rounded-corners,
  settings.$fs-border-radius,
  0
) !default;

.fs-hero {
  position: relative;
  &__background {
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    object-fit: cover;
  }
  &__inner {
    position: relative;
  }
  &__body {
    @include spacing.fs-responsive-margin($margin, $direction: block);
    @include spacing.fs-responsive-padding($padding, $direction: all);
    display: inline-block;
    max-inline-size: 30em;
    border-radius: $border-radius;
    @if $background-color {
      color: colors.fs-color-if-set($text-color, $background-color);
      background-color: $background-color;
    } @else {
      color: if($text-color, $text-color, white);
    }
  }
  &__heading {
    @include spacing.fs-responsive-margin(3, $direction: block-end);
    color: currentColor;
  }
}
