@use "../settings";
@use "../helpers/colors";
@use "../helpers/forms";

// Input [type="number"]
$number-hide-controls: true !default;

// Input [type="search"]
$search-hide-controls: true !default;

// Input masks
$mask-text-color: currentColor !default;
$mask-background-color: colors.fs-color("grey20") !default;

.fs-input {
  @include forms.fs-input-text(
    $number-hide-controls: true,
    $search-hide-controls: true
  );
  @each $length in (20, 10, 8, 5, 4, 3, 2) {
    &--length-#{$length} {
      max-inline-size: ($length + 1) * 1em;
    }
  }
}

.fs-input-mask {
  display: inline-flex;
  flex-direction: row;
  &__prefix,
  &__suffix {
    @include forms.fs-input-mask;
    flex-shrink: 0;
    color: $mask-text-color;
    background-color: $mask-background-color;
    white-space: nowrap;
  }
  &__prefix {
    border-inline-end-width: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  &__suffix {
    border-inline-start-width: 0;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  .fs-input {
    &:not(:first-child) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
    &:not(:last-child) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
  }
}
