@use "../settings";
@use "../helpers/a11y";
@use "../helpers/arrows";
@use "../helpers/typography";
@use "../helpers/spacing";

// Pagination
$arrow-size: 0.6em !default;
$link-color: settings.$fs-text-color !default;
$current-link-color: settings.$fs-link-color !default;
$hover-link-color: $current-link-color !default;
$separator-color: settings.$fs-text-color-secondary !default;
$link-border-width: 2px !default;

.fs-pagination {
  $item-spacing: spacing.fs-spacing(2);
  @include typography.fs-font-size(16);
  @include typography.fs-font-stack(body, $weight: bold);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__link {
    @include spacing.fs-responsive-padding(1, $direction: all);
    display: inline-block;
    min-inline-size: 2.25em;
    border-width: $link-border-width;
    border-style: solid;
    border-color: currentColor;
    color: $link-color;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    & + & {
      margin-inline-start: $item-spacing;
    }
    &:hover {
      color: $hover-link-color;
    }
    &:focus {
      @include a11y.fs-focus-ring($fill: true);
    }
    &--prev,
    &--next {
      &::before,
      &::after {
        $arrow-size: $arrow-size;
        display: inline-block;
        block-size: $arrow-size;
        inline-size: $arrow-size * 0.5;
        margin-inline: 0.25em;
        background-color: currentColor;
      }
    }
    &--prev {
      &::before {
        @include arrows.fs-arrow($direction: inline-start);
        content: "";
      }
    }
    &--next {
      &::after {
        @include arrows.fs-arrow($direction: inline-end);
        content: "";
      }
    }
    &[aria-current] {
      color: $current-link-color;
      border-color: transparent;
    }
  }
  &__jump {
    margin-inline: $item-spacing;
    color: $separator-color;
  }
}
