@use "../settings";

@use "../helpers/colors";
@use "../helpers/media-queries";
@use "../helpers/reset";
@use "../helpers/spacing";
@use "../helpers/typography";

.fs-primary-navigation {
  $self: &;
  &__list {
    @include reset.fs-reset-list;
  }
  &__item {
    @include media-queries.fs-mq($to: tablet) {
      border-bottom: settings.$fs-hr-width solid
        settings.$fs-primary-navigation-divider;
    }
    @include media-queries.fs-mq($from: tablet) {
      @include spacing.fs-responsive-margin(3, $direction: right);
      display: inline-block;
    }
  }
  &__link {
    $current-color: settings.$fs-primary-navigation-current-link-background-color;
    display: inline-block;
    text-decoration: none;
    @include media-queries.fs-mq($to: tablet) {
      @include spacing.fs-responsive-padding(1, $direction: top);
      @include spacing.fs-responsive-padding(1, $direction: bottom);
      &[aria-current] {
        @include spacing.fs-responsive-padding(2, $direction: left);

        border-left: settings.$fs-border-width-narrow solid $current-color;
      }
    }
    @include media-queries.fs-mq($from: tablet) {
      @include spacing.fs-responsive-padding(2, $direction: top);
      @include spacing.fs-responsive-padding(3, $direction: right);
      @include spacing.fs-responsive-padding(2, $direction: bottom);
      @include spacing.fs-responsive-padding(3, $direction: left);
      @include typography.fs-font-size(24);
      margin-left: 0 - spacing.fs-spacing(2);
      &:hover,
      &[aria-current] {
        color: if(
          settings.$fs-primary-navigation-current-link-text-color,
          settings.$fs-primary-navigation-current-link-text-color,
          colors.fs-contrasting-color($current-color)
        );
        background-color: $current-color;
      }
    }
  }
}
