@use "../settings";
@use "../helpers/colors";
@use "../helpers/media-queries";
@use "../helpers/reset";
@use "../helpers/spacing";
@use "../helpers/typography";

// Primary navigation
$divider: settings.$fs-border-color !default;
$current-link-background-color: settings.$fs-brand-color !default;
$current-link-text-color: false !default;
$border-radius: if(
  settings.$fs-enable-rounded-corners,
  settings.$fs-border-radius,
  0
) !default;

.fs-primary-navigation {
  $self: &;
  &__list {
    @include reset.fs-reset-list;
  }
  &__item {
    @include media-queries.fs-mq($to: tablet) {
      border-block-end: settings.$fs-hr-width solid $divider;
    }
    @include media-queries.fs-mq($from: tablet) {
      @include spacing.fs-responsive-margin(3, $direction: inline-end);
      display: inline-block;
    }
  }
  &__link {
    $current-color: $current-link-background-color;
    display: inline-block;
    text-decoration: none;
    @include media-queries.fs-mq($to: tablet) {
      @include spacing.fs-responsive-padding(1, $direction: block);
      &[aria-current] {
        @include spacing.fs-responsive-padding(2, $direction: inline-start);
        border-inline-start: settings.$fs-border-width-narrow solid
          $current-color;
      }
    }
    @include media-queries.fs-mq($from: tablet) {
      @include spacing.fs-responsive-padding(2, $direction: block);
      @include spacing.fs-responsive-padding(3, $direction: inline);
      @include typography.fs-font-size(24);
      margin-inline-start: 0 - spacing.fs-spacing(2);
      &:hover,
      &[aria-current] {
        color: colors.fs-color-if-set($current-link-text-color, $current-color);
        background-color: $current-color;
      }
    }
  }
}
