@use "../helpers/spacing";
@use "../helpers/typography";
@forward "../objects/blockquote";
@forward "../objects/lists";
@forward "../objects/typography";

.fs-prose {
  p:not([class]) {
    @extend .fs-body;
  }
  ul:not([class]) {
    @extend .fs-list--bulleted;
  }
  ol:not([class]) {
    @extend .fs-list--numbered;
  }
  h1:not([class]) {
    @extend .fs-heading-xl;
  }
  h2:not([class]) {
    @extend .fs-heading-l;
    &:not(:first-child) {
      @include spacing.fs-responsive-margin(6, $direction: block-start);
    }
  }
  h3:not([class]) {
    @extend .fs-heading-m;
    &:not(:first-child) {
      @include spacing.fs-responsive-margin(4, $direction: block-start);
    }
  }
  h4:not([class]) {
    @extend .fs-heading-s;
    &:not(:first-child) {
      @include spacing.fs-responsive-margin(4, $direction: block-start);
    }
  }
  blockquote:not([class]) {
    @extend .fs-blockquote;
  }
}
