@use "../settings";
@use "../helpers/colors";
@use "../helpers/forms";
@use "../helpers/spacing";

// Radio
$size: settings.$fs-check-radio-size !default;
$check-color: colors.fs-color("grey90") !default;
$label-margin: spacing.fs-spacing(settings.$fs-check-radio-margin) !default;

.fs-radio {
  @include spacing.fs-responsive-margin(3, $direction: block-end);
  padding-inline-start: calc(#{$size} + #{$label-margin});
  &__input {
    @include forms.fs-input-radio($size: $size, $check-color: $check-color);
    margin-inline-start: calc(0px - (#{$size} + #{$label-margin}));
    float: inline-start;
  }
  &__label {
  }
  &__hint {
  }
}
