@use "../settings";
@use "../helpers/forms";
@use "../helpers/spacing";

@use "sass:math";

$show-arrow: true !default;
$arrow-size: spacing.fs-spacing(2) !default;
$arrow-stroke: 2px !default;
$arrow-color: currentColor !default;

.fs-select {
  position: relative;
  @each $length in (20, 10, 8, 5, 4, 3, 2) {
    &--length-#{$length} {
      max-inline-size: ($length + 1) * 1em;
    }
  }
  @if $show-arrow {
    &::after {
      $arrow-size-diagonal: $arrow-size * 1.41421356237; // square root of 2
      content: "";
      block-size: $arrow-size;
      inline-size: $arrow-size;
      position: absolute;
      inset-block-start: calc(50% - #{math.div($arrow-size-diagonal, 2)});
      inset-inline-end: $arrow-size;
      border-width: 0 $arrow-stroke $arrow-stroke 0;
      border-style: solid;
      border-color: $arrow-color;
      transform: rotate(45deg);
      pointer-events: none;
    }
  }
  &__input {
    @include forms.fs-input-select;
    @if $show-arrow {
      padding-inline-end: (
          spacing.fs-spacing(settings.$fs-form-element-horizontal-padding) * 2
        ) +
        $arrow-size;
    }
  }
}
