@use "../settings";
@use "../helpers/reset";
@use "../helpers/links";
@use "../helpers/spacing";
@use "../helpers/typography";

// Sidebar navigation
$border-width: settings.$fs-border-width-narrow !default;
$border-color: settings.$fs-brand-color !default;

.fs-sidebar-navigation {
  &__list {
    @include reset.fs-reset-list;
  }
  &__item {
  }
  &__link {
    @include spacing.fs-responsive-padding(1, $direction: block);
    @include spacing.fs-responsive-padding(1, $direction: inline-end);
    @include spacing.fs-responsive-padding(3, $direction: inline-start);
    @include links.fs-link($visited-style: false);
    @include typography.fs-font-stack(body, $weight: 400);
    @include typography.fs-font-size(16);
    display: block;
    border-inline-start: $border-width solid transparent;
    text-decoration: none;
    &[aria-current] {
      @include typography.fs-font-stack(body, $weight: 700);
      border-inline-start-color: $border-color;
    }
  }
}
