@use "../settings";
@use "../helpers/reset";
@use "../helpers/colors";
@use "../helpers/spacing";
@use "../helpers/links";

// Tabs
$tab-border-width: settings.$fs-border-width-narrow !default;
$tab-spacing: $tab-border-width !default;
$tab-text-color: false !default;
$tab-background-color: colors.fs-color("grey20") !default;
$tab-selected-text-color: false !default;
$tab-selected-background-color: colors.fs-color("grey10") !default;
$tab-selected-border-color: settings.$fs-brand-color !default;
$panel-text-color: false !default;
$panel-background-color: $tab-selected-background-color !default;

.fs-tabs {
  $self: &;
  &__list {
    @include reset.fs-reset-list;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  &__item {
    @include spacing.fs-responsive-padding(2, $direction: all);
    box-sizing: content-box;
    position: relative;
    margin-inline-end: $tab-spacing;
    color: colors.fs-color-if-set($tab-text-color, $tab-background-color);
    background-color: $tab-background-color;
    &--current {
      color: colors.fs-color-if-set(
        $tab-selected-text-color,
        $tab-selected-background-color
      );
      background-color: $tab-selected-background-color;
      border-block-start: $tab-border-width solid $tab-selected-border-color;
    }
  }
  &__tab {
    @include links.fs-link--text($color: currentColor, $underline: false);
    &::after {
      content: "";
      block-size: 100%;
      inline-size: 100%;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
    }
  }
  &__panel {
    @include spacing.fs-responsive-margin(6, $direction: block-end);
    @include spacing.fs-responsive-padding(3, $direction: all);
    color: colors.fs-color-if-set($panel-text-color, $panel-background-color);
    background-color: $panel-background-color;
    html.js & {
      @include spacing.fs-responsive-margin(0, $direction: block-end);
    }
    &--hidden {
      display: none;
    }
  }
}
