@use "../settings";

@use "../helpers/typography";
@use "../helpers/spacing";

.fs-table {
  @include spacing.fs-responsive-margin(8, $direction: block-end);
  inline-size: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  caption {
    @include typography.fs-font-stack(body, $weight: bold);
    caption-side: block-start;
    text-align: start;
  }
  th,
  td {
    @include spacing.fs-responsive-padding(2, $direction: block);
    @include spacing.fs-responsive-padding(4, $direction: inline-end);
    border-block-end: settings.$fs-hr-width solid settings.$fs-border-color;
    text-align: start;
    vertical-align: top;
    &:last-child {
      @include spacing.fs-responsive-padding(0, $direction: inline-end);
    }
    &[data-type="numeric"] {
      @include typography.fs-tabular-figures;
      text-align: end;
    }
  }
  th {
    @include typography.fs-font-stack(body, $weight: bold);
  }
  td {
    @include typography.fs-font-stack(body, $weight: regular);
  }
  thead {
    th,
    td {
      vertical-align: bottom;
    }
  }
}
