@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";
@use "../helpers/typography";

// Testimonial
$text-color: false !default;
$background-color: colors.fs-color("grey20") !default;
$border-radius: if(
  settings.$fs-enable-rounded-corners,
  settings.$fs-border-radius,
  0
) !default;
$show-avatar: true !default;
$avatar-size: 3rem !default;
$avatar-border-radius: if(
  settings.$fs-enable-rounded-corners,
  settings.$avatar-size,
  0
) !default;
$citation-inset: 3rem !default;
$show-arrow: true !default;
$arrow-size: 1rem !default;

.fs-testimonial {
  $avatar-size: if($show-avatar, $avatar-size, 0);
  $citation-padding: spacing.fs-spacing(2);
  @include spacing.fs-responsive-margin(0, $direction: all);
  &__quotation {
    @include spacing.fs-responsive-margin(0, $direction: all);
    @include spacing.fs-responsive-padding(3, $direction: all);
    display: inline-block;
    position: relative;
    color: colors.fs-color-if-set($text-color, $background-color);
    background-color: $background-color;
    border-radius: $border-radius;
    @if $show-arrow {
      &::before {
        $offset: $citation-inset - $arrow-size - $citation-padding;
        content: "";
        block-size: 0;
        inline-size: 0;
        position: absolute;
        inset-block-start: 100%;
        inset-inline-start: $offset;
        border-width: 0 $arrow-size $arrow-size 0;
        border-style: solid;
        border-color: transparent $background-color transparent transparent;
      }
    }
    > :last-child {
      @include spacing.fs-responsive-margin(0, $direction: block-end);
    }
  }
  &__citation {
    @include typography.fs-font-stack(body);
    @include typography.fs-font-size(16);
    padding: $citation-padding $citation-padding $citation-padding
      $citation-inset;
    overflow: hidden;
  }
  &__avatar {
    @if $show-avatar {
      block-size: $avatar-size;
      inline-size: $avatar-size;
      margin-inline-end: 1rem;
      border-radius: $avatar-border-radius;
      float: inline-start;
      object-fit: cover;
    } @else {
      display: none;
    }
  }
  &__name {
    @include typography.fs-font-stack(body, $weight: bold);
  }
  &__role {
    color: settings.$fs-text-color-secondary;
  }
}
