@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";
@use "../helpers/links";

// Tooltip
$show-arrow: true !default;
$arrow-size: 0.5rem !default;
$text-color: false !default;
$background-color: colors.fs-color("grey90") !default;

.fs-tooltip {
  display: inline;
  position: relative;
  &__tip {
    @include spacing.fs-responsive-padding(2, $direction: all);
    display: inline-block;
    inline-size: 16rem;
    position: absolute;
    z-index: 1;
    color: colors.fs-color-if-set($text-color, $background-color);
    background: $background-color;
    a {
      @include links.fs-link--text($color: currentColor);
    }
    &--hidden {
      display: none;
    }
    @if $show-arrow {
      &::before {
        content: "";
        block-size: 0;
        inline-size: 0;
        border-style: solid;
        position: absolute;
      }
    }
    &[data-side="top"] {
      margin-block-end: $arrow-size;
      inset-block-end: 100%;
      inset-inline-start: 50%;
      &::before {
        inset-block-start: 100%;
        border-width: $arrow-size $arrow-size 0 $arrow-size;
        border-color: $background-color transparent transparent transparent;
      }
    }
    &[data-side="right"] {
      margin-inline-start: $arrow-size;
      inset-block-start: 50%;
      inset-inline-start: 100%;
      &::before {
        inset-inline-end: 100%;
        border-width: $arrow-size $arrow-size $arrow-size 0;
        border-color: transparent $background-color transparent transparent;
      }
    }
    &[data-side="bottom"] {
      margin-block-start: $arrow-size;
      inset-block-start: 100%;
      inset-inline-start: 50%;
      &::before {
        inset-block-end: 100%;
        border-width: 0 $arrow-size $arrow-size $arrow-size;
        border-color: transparent transparent $background-color transparent;
      }
    }
    &[data-side="left"] {
      margin-inline-end: $arrow-size;
      inset-block-start: 50%;
      inset-inline-end: 100%;
      &::before {
        inset-inline-start: 100%;
        border-width: $arrow-size 0 $arrow-size $arrow-size;
        border-color: transparent transparent transparent $background-color;
      }
    }
    &[data-side="top"],
    &[data-side="bottom"] {
      transform: translateX(-50%);
      &::before {
        inset-inline-start: calc(50% - #{$arrow-size});
      }
    }
    &[data-side="left"],
    &[data-side="right"] {
      transform: translateY(-50%);
      &::before {
        inset-block-start: calc(50% - #{$arrow-size});
      }
    }
  }
}
