@use "../settings";
@use "../helpers/colors";
@use "../helpers/spacing";
@use "../helpers/links";

.fs-tooltip {
  display: inline;
  position: relative;
  &__tip {
    @include spacing.fs-responsive-padding(2, $direction: all);
    display: inline-block;
    width: 16rem;
    position: absolute;
    z-index: 1;
    color: if(
      settings.$fs-tooltip-text-color,
      settings.$fs-tooltip-text-color,
      colors.fs-contrasting-color(settings.$fs-tooltip-background-color)
    );
    background: settings.$fs-tooltip-background-color;
    a {
      @include links.fs-link--text($color: currentColor);
    }
    &--hidden {
      display: none;
    }
    @if settings.$fs-tooltip-show-arrow {
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
      }
    }
    &[data-side="top"] {
      margin-bottom: settings.$fs-tooltip-arrow-size;
      bottom: 100%;
      left: 50%;
      &::before {
        top: 100%;
        border-width: settings.$fs-tooltip-arrow-size
          settings.$fs-tooltip-arrow-size 0 settings.$fs-tooltip-arrow-size;
        border-color: settings.$fs-tooltip-background-color transparent
          transparent transparent;
      }
    }
    &[data-side="right"] {
      margin-left: settings.$fs-tooltip-arrow-size;
      top: 50%;
      left: 100%;
      &::before {
        right: 100%;
        border-width: settings.$fs-tooltip-arrow-size
          settings.$fs-tooltip-arrow-size settings.$fs-tooltip-arrow-size 0;
        border-color: transparent settings.$fs-tooltip-background-color
          transparent transparent;
      }
    }
    &[data-side="bottom"] {
      margin-top: settings.$fs-tooltip-arrow-size;
      top: 100%;
      left: 50%;
      &::before {
        bottom: 100%;
        border-width: 0 settings.$fs-tooltip-arrow-size
          settings.$fs-tooltip-arrow-size settings.$fs-tooltip-arrow-size;
        border-color: transparent transparent
          settings.$fs-tooltip-background-color transparent;
      }
    }
    &[data-side="left"] {
      margin-right: settings.$fs-tooltip-arrow-size;
      top: 50%;
      right: 100%;
      &::before {
        left: 100%;
        border-width: settings.$fs-tooltip-arrow-size 0
          settings.$fs-tooltip-arrow-size settings.$fs-tooltip-arrow-size;
        border-color: transparent transparent transparent
          settings.$fs-tooltip-background-color;
      }
    }
    &[data-side="top"],
    &[data-side="bottom"] {
      transform: translateX(-50%);
      &::before {
        left: calc(50% - #{settings.$fs-tooltip-arrow-size});
      }
    }
    &[data-side="left"],
    &[data-side="right"] {
      transform: translateY(-50%);
      &::before {
        top: calc(50% - #{settings.$fs-tooltip-arrow-size});
      }
    }
  }
}
