<!DOCTYPE html>
<html lang="en" class="fs-template">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/all.css" />
    <title>Example COG confirm</title>
  </head>
  <body class="fs-template__body">
    <a class="fs-skiplink" href="#navigation">Skip to navigation</a>
    <a class="fs-skiplink" href="#content">Skip to content</a>

    <nav class="fs-masthead-tools" aria-label="Utilities">
      <div class="fs-width-container fs-masthead-tools__inner">
        <ul class="fs-masthead-tools__list">
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Login or register </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Basket (0) </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Search </a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="fs-masthead">
      <div class="fs-width-container fs-masthead__inner">
        <div class="fs-grid-row">
          <div class="fs-grid-column-one-third fs-masthead__logo">
            <a class="fs-link-text fs-masthead__logo-link" href="#">
              The Bread Club
            </a>
          </div>
          <div class="fs-grid-column-two-thirds fs-masthead__content">
            <nav
              class="fs-primary-navigation"
              id="navigation"
              aria-label="Main navigation"
            >
              <ul class="fs-primary-navigation__list">
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Loaves
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a
                    class="fs-link-text fs-primary-navigation__link"
                    href="#"
                    aria-current="true"
                  >
                    Rolls
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Pastries
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Crumpets
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Treats
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main
      class="fs-width-container fs-!-margin-top-8 fs-!-margin-bottom-8"
      id="content"
    >
      <div class="fs-grid-row">
        <div class="fs-grid-column-one-third">&nbsp;</div>
        <div class="fs-grid-column-two-thirds">
          <a class="fs-back-link fs-!-margin-bottom-5" href="#"
            >Back
            <span class="fs-!-sr">to conditions of grants listing</span></a
          >
          <h1 class="fs-heading-xl">
            <div class="fs-subheading-xl">Conditions of grant</div>
            BC0017559
          </h1>
          <dl class="fs-summary-list">
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Date due</dt>
              <dd class="fs-summary-list__value">22 December 2021</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Condition type</dt>
              <dd class="fs-summary-list__value">Confirmation of service</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Condition name</dt>
              <dd class="fs-summary-list__value">Bread Flour Subsidy 2021</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Condition</dt>
              <dd class="fs-summary-list__value">
                <p class="fs-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quaerat beatae eos quae quos voluptatibus, vel unde dolorem,
                  mollitia est natus! Consequuntur maxime ad laborum
                  necessitatibus blanditiis ipsum dolores quidem non?
                </p>
              </dd>
            </div>
          </dl>
          <h2 class="fs-heading-l">Confirmation of service</h2>
          <h3 class="fs-heading-m">Matha Wojcicki</h3>
          <dl class="fs-summary-list">
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Email address</dt>
              <dd class="fs-summary-list__value">lungless@sprinter.ext</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Phone number</dt>
              <dd class="fs-summary-list__value">0274 676 0706</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Address</dt>
              <dd class="fs-summary-list__value">
                123 Fake Street<br />
                Testville<br />
                Exampleshire<br />
                TE57 1NG<br />
                United Kingdom
              </dd>
            </div>
          </dl>
          <h4 class="fs-heading-s">Employment information</h4>
          <dl class="fs-summary-list">
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Annual salary</dt>
              <dd class="fs-summary-list__value">&pound;38,200.00</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Working amount</dt>
              <dd class="fs-summary-list__value">123</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Salary this month</dt>
              <dd class="fs-summary-list__value">
                &pound;3,183.34 (before deductions)
              </dd>
            </div>
          </dl>
          <h3 class="fs-heading-m">Partner organisation</h3>
          <dl class="fs-summary-list">
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Organisation</dt>
              <dd class="fs-summary-list__value">Halverson Industries</dd>
            </div>
            <div class="fs-summary-list__item">
              <dt class="fs-summary-list__key">Address</dt>
              <dd class="fs-summary-list__value">
                123 Fake Street<br />
                Testville<br />
                Exampleshire<br />
                TE57 1NG<br />
                United Kingdom
              </dd>
            </div>
          </dl>
          <form>
            <div class="fs-form-row">
              <label class="fs-label" for="Textarea"
                >If necessary, detail any changes to the service, named
                professional or partner organisation</label
              >
              <div class="fs-hint" id="Textarea-Hint">
                We must be informed of any periods of long term absence (6 weeks
                or more) or changes to the agreed hours or person delivering the
                service.
              </div>
              <div
                class="fs-textarea-counter"
                data-module="fs-textarea-counter"
              >
                <textarea
                  class="fs-textarea"
                  cols="100"
                  rows="4"
                  id="Textarea"
                  maxlength="1024"
                ></textarea>
              </div>
            </div>
            <div class="fs-form-row">
              <button
                class="fs-button"
                type="submit"
                data-appearance="primary"
                data-layout="elastic"
              >
                Submit request for payment
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer class="fs-footer">
      <div class="fs-width-container fs-footer__inner">
        <div class="fs-grid-row">
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__legal"
          >
            &copy; 2020 The Bread Club. All rights reserved.
          </div>
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__links"
          >
            <ul class="fs-footer__list">
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Terms and conditions </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Privacy policy </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="../../dist/all.js"></script>
    <script>
      window.fs.initAll();
    </script>
  </body>
</html>
