<!DOCTYPE html>
<html lang="en" class="fs-template">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/all.css" />
    <title>Example dashboard overview</title>
  </head>
  <body class="fs-template__body">
    <a class="fs-skiplink" href="#navigation">Skip to navigation</a>
    <a class="fs-skiplink" href="#content">Skip to content</a>

    <nav class="fs-masthead-tools" aria-label="Utilities">
      <div class="fs-width-container fs-masthead-tools__inner">
        <ul class="fs-masthead-tools__list">
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Login or register </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Basket (0) </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Search </a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="fs-masthead">
      <div class="fs-width-container fs-masthead__inner">
        <div class="fs-grid-row">
          <div class="fs-grid-column-one-third fs-masthead__logo">
            <a class="fs-link-text fs-masthead__logo-link" href="#">
              The Bread Club
            </a>
          </div>
          <div class="fs-grid-column-two-thirds fs-masthead__content">
            <nav
              class="fs-primary-navigation"
              id="navigation"
              aria-label="Main navigation"
            >
              <ul class="fs-primary-navigation__list">
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Loaves
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a
                    class="fs-link-text fs-primary-navigation__link"
                    href="#"
                    aria-current="true"
                  >
                    Rolls
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Pastries
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Crumpets
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Treats
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main
      class="fs-width-container fs-!-margin-top-8 fs-!-margin-bottom-8"
      id="content"
    >
      <div class="fs-grid-row">
        <div class="fs-grid-column-one-third">
          <nav
            class="fs-sidebar-navigation fs-!-margin-bottom-8"
            aria-label="Dashboard navigation"
          >
            <ul class="fs-sidebar-navigation__list">
              <li class="fs-sidebar-navigation__item">
                <a class="fs-sidebar-navigation__link" href="#"> Dashboard </a>
              </li>
              <li class="fs-sidebar-navigation__item">
                <a class="fs-sidebar-navigation__link" href="#">
                  Membership &amp; billing
                </a>
              </li>
              <li class="fs-sidebar-navigation__item">
                <a class="fs-sidebar-navigation__link" href="#"> My events </a>
              </li>
              <li class="fs-sidebar-navigation__item">
                <a class="fs-sidebar-navigation__link" href="#">
                  My learning
                </a>
              </li>
              <li class="fs-sidebar-navigation__item">
                <a
                  class="fs-sidebar-navigation__link"
                  href="#"
                  aria-current="page"
                >
                  My grants
                </a>
              </li>
              <li class="fs-sidebar-navigation__item">
                <a class="fs-sidebar-navigation__link" href="#">
                  Edit details
                </a>
              </li>
              <li class="fs-sidebar-navigation__item">
                <a class="fs-sidebar-navigation__link" href="#">
                  Communication preferences
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="fs-grid-column-two-thirds">
          <h1 class="fs-heading-xl">My grants</h1>
          <h2 class="fs-heading-l">Incomplete applications</h2>
          <table class="fs-table">
            <thead>
              <tr>
                <th class="fs-!-width-one-half" scope="col">
                  Name and reference
                </th>
                <th
                  class="fs-!-width-one-half fs-!-text-align-right"
                  scope="col"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Direct Research Grant<br />
                  <small>Ref.: DR00096938</small>
                </th>
                <td class="fs-!-text-align-right">
                  <a class="fs-button" data-appearance="primary" href="#"
                    >Continue application</a
                  ><br />
                  <small
                    >or
                    <a class="fs-link-no-visited" href="#"
                      >abandon application</a
                    ></small
                  >
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Small Business Grant<br />
                  <small>Ref.: SB00067591</small>
                </th>
                <td class="fs-!-text-align-right">
                  <a class="fs-button" data-appearance="primary" href="#"
                    >Continue application</a
                  ><br />
                  <small
                    >or
                    <a class="fs-link-no-visited" href="#"
                      >abandon application</a
                    ></small
                  >
                </td>
              </tr>
            </tbody>
          </table>

          <h2 class="fs-heading-l">Submitted grants</h2>
          <table class="fs-table">
            <thead>
              <tr>
                <th class="fs-!-width-one-half" scope="col">
                  Name and reference
                </th>
                <th class="fs-!-width-one-half" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <a href="#">Small Business Grant</a><br />
                  <small>Ref.: SG2000997</small>
                </th>
                <td>Processing - no action required</td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Small Business Grant</a><br />
                  <small>Ref.: SG2000953</small>
                </th>
                <td>Awarded - Conditions & Payments due</td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Small Business Grant</a><br />
                  <small>Ref.: SG2000835</small>
                </th>
                <td>Awarded - Closed</td>
              </tr>
            </tbody>
          </table>

          <h2 class="fs-heading-l">Apply for a grant</h2>
          <p class="fs-body">
            Please choose what kind of Grant you'd like to apply for.
          </p>
          <div class="fs-grid-row">
            <div class="fs-grid-column-one-half">
              <div class="fs-card fs-card--bordered">
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/300x225"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Direct research grant
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      Short description of purpose of direct research grant and
                      who is entitled.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-grid-column-one-half">
              <div class="fs-card fs-card--bordered">
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/300x225"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Small business grant
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      Short description of purpose of small business grant and
                      who is entitled.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="fs-footer">
      <div class="fs-width-container fs-footer__inner">
        <div class="fs-grid-row">
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__legal"
          >
            &copy; 2020 The Bread Club. All rights reserved.
          </div>
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__links"
          >
            <ul class="fs-footer__list">
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Terms and conditions </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Privacy policy </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="../../dist/all.js"></script>
    <script>
      window.fs.initAll();
    </script>
  </body>
</html>
