<!DOCTYPE html>
<html lang="en" class="fs-template">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/all.css" />
    <title>Example landing page layout</title>
  </head>
  <body class="fs-template__body">
    <a class="fs-skiplink" href="#navigation">Skip to navigation</a>
    <a class="fs-skiplink" href="#content">Skip to content</a>

    <nav class="fs-masthead-tools" aria-label="Utilities">
      <div class="fs-width-container fs-masthead-tools__inner">
        <ul class="fs-masthead-tools__list">
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Login or register </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Basket (0) </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Search </a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="fs-masthead">
      <div class="fs-width-container fs-masthead__inner">
        <div class="fs-grid-row">
          <div class="fs-grid-column-one-third fs-masthead__logo">
            <a class="fs-link-text fs-masthead__logo-link" href="#">
              The Bread Club
            </a>
          </div>
          <div class="fs-grid-column-two-thirds fs-masthead__content">
            <nav
              class="fs-primary-navigation"
              id="navigation"
              aria-label="Main navigation"
            >
              <ul class="fs-primary-navigation__list">
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Loaves
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a
                    class="fs-link-text fs-primary-navigation__link"
                    href="#"
                    aria-current="true"
                  >
                    Rolls
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Pastries
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Crumpets
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Treats
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main class="fs-!-margin-top-8 fs-!-margin-bottom-8" id="content">
      <!-- Breadcrumbs: start -->
      <div class="fs-width-container fs-!-margin-top-3 fs-!-margin-bottom-3">
        <nav class="fs-breadcrumbs" aria-label="Breadcrumb navigation">
          <ol class="fs-breadcrumbs__list">
            <li class="fs-breadcrumbs__item">
              <a class="fs-breadcrumbs__link" href="#"> Home </a>
            </li>
            <li class="fs-breadcrumbs__item">
              <a class="fs-breadcrumbs__link" href="#"> Breads </a>
            </li>
            <li class="fs-breadcrumbs__item">
              <a class="fs-breadcrumbs__link" href="#"> Preparation </a>
            </li>
            <li class="fs-breadcrumbs__item">
              <a class="fs-breadcrumbs__link" href="#" aria-current="page">
                Fats or shortenings
              </a>
            </li>
          </ol>
        </nav>
      </div>
      <!-- Breadcrumbs: end -->

      <!-- Hero: start -->
      <section class="fs-hero">
        <img
          class="fs-hero__background"
          alt=""
          src="https://placehold.it/1000x500"
          srcset="
            https://placehold.it/400x200   400w,
            https://placehold.it/600x300   600w,
            https://placehold.it/1000x500 1000w,
            https://placehold.it/1400x700 1400w
          "
          sizes="100vw"
        />
        <div class="fs-width-container fs-hero__inner">
          <div class="fs-hero__body">
            <h1 class="fs-hero__heading">A passion for bread</h1>
            <div class="fs-prose">
              <p>
                We believe that bread should be available to everyone. Lorem
                ipsum dolor sit, amet, consectetur adipisicing elit. Expedita
                alias nam, quaerat inventore est id ducimus.
              </p>
            </div>
            <a class="fs-button" data-appearance="ghost" href="#"
              >Get your bread</a
            >
          </div>
        </div>
      </section>
      <!-- Hero: end -->

      <!-- Grid of cards: start -->
      <section
        class="fs-width-container fs-!-margin-top-8 fs-!-margin-bottom-8"
      >
        <div class="fs-width-container">
          <header>
            <h2 class="fs-heading-l fs-!-text-align-center">
              Some delicious bakes
            </h2>
          </header>
          <div class="fs-grid-row">
            <div class="fs-grid-column-one-third">
              <article
                class="fs-card fs-card--bordered fs-!-background-color-white"
              >
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/400x300"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Handmade bread for everyone
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      Asperiores sint quo, quibusdam consequuntur eaque officia
                      vel facilis numquam accusamus deleniti quisquam ex natus
                      laudantium ipsam ea sapiente molestias reiciendis.
                      Voluptate.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="fs-grid-column-one-third">
              <article
                class="fs-card fs-card--bordered fs-!-background-color-white"
              >
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/400x300"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Handmade bread for everyone
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      At aut animi exercitationem autem dolor accusantium ipsa
                      quisquam quia delectus quod aperiam atque aliquid, ut,
                      repudiandae corrupti temporibus sapiente necessitatibus
                      ipsum?
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="fs-grid-column-one-third">
              <article
                class="fs-card fs-card--bordered fs-!-background-color-white"
              >
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/400x300"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Handmade bread for everyone
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      Consequatur deserunt beatae, amet reiciendis consequuntur
                      saepe molestiae illum repellendus recusandae architecto
                      quos cupiditate, tempora magnam illo deleniti enim, vel
                      dolores voluptates!
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Grid of cards: end -->

      <!-- Testimonial: start -->
      <section
        class="fs-!-margin-top-8 fs-!-margin-bottom-8 fs-!-padding-top-8 fs-!-padding-bottom-8 fs-!-background-color-grey90 fs-!-text-color-white"
      >
        <div class="fs-width-container">
          <header>
            <h2
              class="fs-heading-l fs-!-text-align-center fs-!-text-color-white"
            >
              What our members say
            </h2>
          </header>
          <div class="fs-grid-row">
            <div class="fs-grid-column-one-half">
              <figure class="fs-testimonial">
                <blockquote class="fs-testimonial__quotation">
                  <p class="fs-body">
                    The greater our knowledge increases, the greater our
                    ignorance unfolds.
                  </p>
                </blockquote>
                <figcaption class="fs-testimonial__citation">
                  <img
                    class="fs-testimonial__avatar"
                    alt="John F. Kennedy"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/President_Kennedy_addresses_nation_on_Civil_Rights%2C_11_June_1963.jpg/220px-President_Kennedy_addresses_nation_on_Civil_Rights%2C_11_June_1963.jpg"
                  />
                  <div class="fs-testimonial__name">John F. Kennedy</div>
                  <div class="fs-testimonial__role">
                    35th President of the United States
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="fs-grid-column-one-half">
              <figure class="fs-testimonial">
                <blockquote class="fs-testimonial__quotation">
                  <p class="fs-body">
                    Leave nothing for to-morrow which can be done to-day. Never
                    let your correspondence fall behind.
                  </p>
                </blockquote>
                <figcaption class="fs-testimonial__citation">
                  <img
                    class="fs-testimonial__avatar"
                    alt="Abraham Lincoln"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Abraham_Lincoln_O-116_by_Gardner%2C_1865.png/220px-Abraham_Lincoln_O-116_by_Gardner%2C_1865.png"
                  />
                  <div class="fs-testimonial__name">Abraham Lincoln</div>
                  <div class="fs-testimonial__role">
                    16th President of the United States
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial: end -->

      <!-- Grid of cards: start -->
      <section
        class="fs-width-container fs-!-margin-top-8 fs-!-margin-bottom-8"
      >
        <div class="fs-width-container">
          <header>
            <h2 class="fs-heading-l fs-!-text-align-center">
              Some delicious bakes
            </h2>
          </header>
          <div class="fs-grid-row">
            <div class="fs-grid-column-one-third">
              <article
                class="fs-card fs-card--bordered fs-!-background-color-white"
              >
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/400x300"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Handmade bread for everyone
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      Asperiores sint quo, quibusdam consequuntur eaque officia
                      vel facilis numquam accusamus deleniti quisquam ex natus
                      laudantium ipsam ea sapiente molestias reiciendis.
                      Voluptate.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="fs-grid-column-one-third">
              <article
                class="fs-card fs-card--bordered fs-!-background-color-white"
              >
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/400x300"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Handmade bread for everyone
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      At aut animi exercitationem autem dolor accusantium ipsa
                      quisquam quia delectus quod aperiam atque aliquid, ut,
                      repudiandae corrupti temporibus sapiente necessitatibus
                      ipsum?
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="fs-grid-column-one-third">
              <article
                class="fs-card fs-card--bordered fs-!-background-color-white"
              >
                <div class="fs-card__media">
                  <a href="#">
                    <img
                      class="fs-card__image"
                      src="https://placehold.it/400x300"
                      alt="Alt text"
                    />
                  </a>
                </div>
                <div class="fs-card__body">
                  <strong class="fs-heading-s fs-card__heading">
                    <a class="fs-link fs-card__link" href="#">
                      Handmade bread for everyone
                    </a>
                  </strong>
                  <div class="fs-card__content">
                    <p>
                      Consequatur deserunt beatae, amet reiciendis consequuntur
                      saepe molestiae illum repellendus recusandae architecto
                      quos cupiditate, tempora magnam illo deleniti enim, vel
                      dolores voluptates!
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Grid of cards: end -->
    </main>

    <footer>
      <div class="fs-fat-footer">
        <div class="fs-width-container fs-fat-footer__inner">
          <div class="fs-grid-row">
            <div class="fs-grid-column-one-quarter fs-body-s">
              <h2 class="fs-fat-footer__heading">The Bread Club</h2>
              <ul class="fs-list">
                <li>
                  <a class="fs-fat-footer__link" href="#">About Bread Club</a>
                </li>
                <li><a class="fs-fat-footer__link" href="#">Careers</a></li>
                <li>
                  <a class="fs-fat-footer__link" href="#">Press releases</a>
                </li>
              </ul>
            </div>
            <div class="fs-grid-column-one-quarter fs-body-s">
              <h2 class="fs-fat-footer__heading">Membership</h2>
              <ul class="fs-list">
                <li>
                  <a class="fs-fat-footer__link" href="#">Join Bread Club</a>
                </li>
                <li>
                  <a class="fs-fat-footer__link" href="#"
                    >Benefits of membership</a
                  >
                </li>
                <li>
                  <a class="fs-fat-footer__link" href="#">Membership rules</a>
                </li>
                <li>
                  <a class="fs-fat-footer__link" href="#">Manage membership</a>
                </li>
              </ul>
            </div>
            <div class="fs-grid-column-one-quarter fs-body-s">
              <h2 class="fs-fat-footer__heading">Events</h2>
              <ul class="fs-list">
                <li>
                  <a class="fs-fat-footer__link" href="#">Browse all events</a>
                </li>
                <li>
                  <a class="fs-fat-footer__link" href="#">Baking classes</a>
                </li>
              </ul>
            </div>
            <div class="fs-grid-column-one-quarter fs-body-s">
              <h2 class="fs-fat-footer__heading">Contact us</h2>
              <p>
                <a
                  class="fs-fat-footer__link"
                  href="mailto:email.address@example.com"
                  >Email us! email.address@example.com</a
                >
              </p>
              <p>
                2 Brioche Place<br />
                Bageltown<br />
                BA7 1NG
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="fs-footer">
        <div class="fs-width-container fs-footer__inner">
          <div class="fs-grid-row">
            <div
              class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__legal"
            >
              &copy; 2020 The Bread Club. All rights reserved.
            </div>
            <div
              class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__links"
            >
              <ul class="fs-footer__list">
                <li class="fs-footer__item">
                  <a class="fs-footer__link" href="#"> Terms and conditions </a>
                </li>
                <li class="fs-footer__item">
                  <a class="fs-footer__link" href="#"> Privacy policy </a>
                </li>
                <li class="fs-footer__item">
                  <a class="fs-footer__link" href="#"> Contact us </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../../dist/all.js"></script>
    <script>
      window.fs.initAll();
    </script>
  </body>
</html>
