<!DOCTYPE html>
<html lang="en" class="fs-template">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/all.css" />
    <title>Membership form 4a</title>
  </head>
  <body class="fs-template__body">
    <a class="fs-skiplink" href="#navigation">Skip to navigation</a>
    <a class="fs-skiplink" href="#content">Skip to content</a>

    <nav class="fs-masthead-tools" aria-label="Utilities">
      <div class="fs-width-container fs-masthead-tools__inner">
        <ul class="fs-masthead-tools__list">
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Login or register </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Basket (0) </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Search </a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="fs-masthead">
      <div class="fs-width-container fs-masthead__inner">
        <div class="fs-grid-row">
          <div class="fs-grid-column-one-third fs-masthead__logo">
            <a class="fs-link-text fs-masthead__logo-link" href="#">
              The Bread Club
            </a>
          </div>
          <div class="fs-grid-column-two-thirds fs-masthead__content">
            <nav
              class="fs-primary-navigation"
              id="navigation"
              aria-label="Main navigation"
            >
              <ul class="fs-primary-navigation__list">
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Loaves
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a
                    class="fs-link-text fs-primary-navigation__link"
                    href="#"
                    aria-current="true"
                  >
                    Rolls
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Pastries
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Crumpets
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Treats
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main
      class="fs-width-container fs-!-margin-top-8 fs-!-margin-bottom-8"
      id="content"
    >
      <div class="fs-grid-row">
        <div class="fs-grid-column-one-third">
          <div
            class="fs-step-indicator"
            data-orientation="vertical"
            data-counters
            aria-label="Progress"
          >
            <ol class="fs-step-indicator__list">
              <li
                class="fs-step-indicator__item fs-step-indicator__item--complete"
              >
                <span class="fs-step-indicator__label">
                  Membership type <span class="fs-!-sr">(complete)</span>
                </span>
              </li>
              <li
                class="fs-step-indicator__item fs-step-indicator__item--complete"
              >
                <span class="fs-step-indicator__label">
                  Your details <span class="fs-!-sr">(complete)</span>
                </span>
              </li>
              <li
                class="fs-step-indicator__item fs-step-indicator__item--complete"
              >
                <span class="fs-step-indicator__label">
                  Additional members
                  <span class="fs-!-sr">(current step)</span></span
                >
              </li>
              <li
                class="fs-step-indicator__item fs-step-indicator__item--current"
              >
                <span class="fs-step-indicator__label">
                  Payment details <span class="fs-!-sr">(current step)</span>
                </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Gift Aid </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Review </span>
              </li>
            </ol>
          </div>
        </div>
        <div class="fs-grid-column-two-thirds">
          <h1 class="fs-heading-xl">
            <div class="fs-subheading-xl">Become a member</div>
            Payment details
          </h1>
          <form>
            <div class="fs-form-row">
              <div
                class="fs-alert"
                role="region"
                aria-labelledby="DDAlertTitle"
              >
                <h2 class="fs-heading-m fs-alert__heading" id="DDAlertTitle">
                  You should not continue with this form if any of the following
                  apply:
                </h2>
                <div class="fs-alert__body">
                  <ul class="fs-list fs-list--bulleted">
                    <li>You are not the account holder.</li>
                    <li>
                      If it is a business account and more than one person is
                      required to authorise debits on this account.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="fs-form-row">
              <label class="fs-label" for="Name">Account holder's name</label>
              <input class="fs-input" type="text" id="Name" required />
            </div>
            <div class="fs-form-row">
              <label class="fs-label" for="AccountNumber">Account number</label>
              <div class="fs-hint" id="AccountNumber-Hint">
                Eight digits. For example, 01234567.
              </div>
              <input
                class="fs-input fs-input--length-8"
                type="text"
                id="AccountNumber"
                inputmode="numeric"
                pattern="[0-9]{8}"
                aria-describedby="AccountNumber-Hint"
                required
              />
            </div>
            <div class="fs-form-row">
              <label class="fs-label" for="SortCode">Sort code</label>
              <div class="fs-hint" id="SortCode-Hint">
                Six digits. For example, 01 23 45.
              </div>
              <input
                class="fs-input fs-input--length-8"
                type="text"
                id="SortCode"
                inputmode="numeric"
                pattern="[0-9 -]*"
                required
              />
            </div>
            <div class="fs-form-row">
              <fieldset class="fs-fieldset">
                <legend class="fs-fieldset__legend fs-fieldset__legend--l">
                  <h2 class="fs-heading-l">Direct Debit guarantee</h2>
                </legend>
                <div class="fs-form-row">
                  <div class="fs-prose">
                    <ul>
                      <li>
                        This Guarantee is offered by all banks and building
                        societies that accept instructions to pay Direct Debits.
                      </li>
                      <li>
                        If there are any changes to the amount, date or
                        frequency of your Direct Debit the organisation will
                        notify you (normally 10 working days) in advance of your
                        account being debited or as otherwise agreed. If you
                        request the organisation to collect a payment,
                        confirmation of the amount and date will be given to you
                        at the time of the request.
                      </li>
                      <li>
                        If an error is made in the payment of your Direct Debit,
                        by the organisation or your bank or building society,
                        you are entitled to a full and immediate refund of the
                        amount paid from your bank or building society.
                      </li>
                      <li>
                        If you receive a refund you are not entitled to, you
                        must pay it back when the organisation asks you to.
                      </li>
                      <li>
                        You can cancel a Direct Debit at any time by simply
                        contacting your bank or building society. Written
                        confirmation may be required. Please also notify the
                        organisation.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="fs-form-row">
                  <div class="fs-checkbox">
                    <input
                      class="fs-checkbox__input"
                      type="checkbox"
                      name="DirectDebitConfirmation"
                      id="DirectDebitConfirmation"
                      required
                    />
                    <label
                      class="fs-label fs-checkbox__label"
                      for="DirectDebitConfirmation"
                      >I confirm that I am the account holder and the only
                      person required to authorise Direct Debits from this
                      account.</label
                    >
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="fs-form-row">
              <button
                class="fs-button"
                type="submit"
                data-appearance="primary"
                data-layout="elastic"
              >
                Continue to next step
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer class="fs-footer">
      <div class="fs-width-container fs-footer__inner">
        <div class="fs-grid-row">
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__legal"
          >
            &copy; 2020 The Bread Club. All rights reserved.
          </div>
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__links"
          >
            <ul class="fs-footer__list">
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Terms and conditions </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Privacy policy </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="../../dist/all.js"></script>
    <script>
      window.fs.initAll();
    </script>
  </body>
</html>
