<!DOCTYPE html>
<html lang="en" class="fs-template">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/all.css" />
    <title>Membership form 4b</title>
  </head>
  <body class="fs-template__body">
    <a class="fs-skiplink" href="#navigation">Skip to navigation</a>
    <a class="fs-skiplink" href="#content">Skip to content</a>

    <nav class="fs-masthead-tools" aria-label="Utilities">
      <div class="fs-width-container fs-masthead-tools__inner">
        <ul class="fs-masthead-tools__list">
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Login or register </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Basket (0) </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Search </a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="fs-masthead">
      <div class="fs-width-container fs-masthead__inner">
        <div class="fs-grid-row">
          <div class="fs-grid-column-one-third fs-masthead__logo">
            <a class="fs-link-text fs-masthead__logo-link" href="#">
              The Bread Club
            </a>
          </div>
          <div class="fs-grid-column-two-thirds fs-masthead__content">
            <nav
              class="fs-primary-navigation"
              id="navigation"
              aria-label="Main navigation"
            >
              <ul class="fs-primary-navigation__list">
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Loaves
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a
                    class="fs-link-text fs-primary-navigation__link"
                    href="#"
                    aria-current="true"
                  >
                    Rolls
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Pastries
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Crumpets
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Treats
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main
      class="fs-width-container fs-!-margin-top-8 fs-!-margin-bottom-8"
      id="content"
    >
      <div class="fs-grid-row">
        <div class="fs-grid-column-one-third">
          <div
            class="fs-step-indicator"
            data-orientation="vertical"
            data-counters
            aria-label="Progress"
          >
            <ol class="fs-step-indicator__list">
              <li
                class="fs-step-indicator__item fs-step-indicator__item--complete"
              >
                <span class="fs-step-indicator__label">
                  Membership type <span class="fs-!-sr">(complete)</span>
                </span>
              </li>
              <li
                class="fs-step-indicator__item fs-step-indicator__item--complete"
              >
                <span class="fs-step-indicator__label">
                  Your details <span class="fs-!-sr">(complete)</span>
                </span>
              </li>
              <li
                class="fs-step-indicator__item fs-step-indicator__item--complete"
              >
                <span class="fs-step-indicator__label">
                  Additional members
                  <span class="fs-!-sr">(current step)</span></span
                >
              </li>
              <li
                class="fs-step-indicator__item fs-step-indicator__item--current"
              >
                <span class="fs-step-indicator__label">
                  Payment details <span class="fs-!-sr">(current step)</span>
                </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Gift Aid </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Review </span>
              </li>
            </ol>
          </div>
        </div>
        <div class="fs-grid-column-two-thirds">
          <h1 class="fs-heading-xl">
            <div class="fs-subheading-xl">Become a member</div>
            Payment details
          </h1>
          <form>
            <div class="fs-form-row">
              <label class="fs-label" for="Name">Card holder's name</label>
              <input
                class="fs-input"
                type="text"
                id="Name"
                autocomplete="cc-name"
                required
              />
            </div>
            <div class="fs-form-row">
              <label class="fs-label" for="CardNumber">Card number</label>
              <input
                class="fs-input fs-input--length-20"
                type="text"
                id="CardNumber"
                inputmode="numeric"
                pattern="[0-9]*"
                autocomplete="cc-number"
                required
              />
            </div>
            <div class="fs-form-row">
              <fieldset class="fs-fieldset" aria-describedby="ExpiryDate-Hint">
                <legend class="fs-fieldset__legend">Expiry date</legend>
                <div class="fs-hint" id="ExpiryDate-Hint">
                  For example, 09 26.
                </div>
                <div class="fs-date-input">
                  <div class="fs-form-row fs-date-input__group">
                    <label class="fs-label" for="ExpiryDate-Month">Month</label>
                    <input
                      class="fs-input fs-input--length-2"
                      type="text"
                      id="ExpiryDate-Month"
                      autocomplete="cc-exp-month"
                      inputmode="numeric"
                      pattern="[0-9]*"
                    />
                  </div>
                  <div class="fs-form-row fs-date-input__group">
                    <label class="fs-label" for="ExpiryDate-Year">Year</label>
                    <input
                      class="fs-input fs-input--length-2"
                      type="text"
                      id="ExpiryDate-Year"
                      autocomplete="cc-exp-year"
                      inputmode="numeric"
                      pattern="[0-9]*"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="fs-form-row">
              <label class="fs-label" for="SecurityCode">Security code</label>
              <div class="fs-hint" id="SecurityCode-Hint">
                The three digits on the back of your card.
              </div>
              <input
                class="fs-input fs-input--length-3"
                type="text"
                id="SecurityCode"
                inputmode="numeric"
                pattern="[0-9]*"
                autocomplete="cc-csc"
                aria-describedby="SecurityCode-Hint"
                required
              />
            </div>
            <div class="fs-form-row">
              <button
                class="fs-button"
                type="submit"
                data-appearance="primary"
                data-layout="elastic"
              >
                Continue to next step
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer class="fs-footer">
      <div class="fs-width-container fs-footer__inner">
        <div class="fs-grid-row">
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__legal"
          >
            &copy; 2020 The Bread Club. All rights reserved.
          </div>
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__links"
          >
            <ul class="fs-footer__list">
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Terms and conditions </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Privacy policy </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="../../dist/all.js"></script>
    <script>
      window.fs.initAll();
    </script>
  </body>
</html>
