<!DOCTYPE html>
<html lang="en" class="fs-template">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/all.css" />
    <title>Membership form 1</title>
  </head>
  <body class="fs-template__body">
    <a class="fs-skiplink" href="#navigation">Skip to navigation</a>
    <a class="fs-skiplink" href="#content">Skip to content</a>

    <nav class="fs-masthead-tools" aria-label="Utilities">
      <div class="fs-width-container fs-masthead-tools__inner">
        <ul class="fs-masthead-tools__list">
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Login or register </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Basket (0) </a>
          </li>
          <li class="fs-masthead-tools__item">
            <a class="fs-masthead-tools__link" href="#"> Search </a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="fs-masthead">
      <div class="fs-width-container fs-masthead__inner">
        <div class="fs-grid-row">
          <div class="fs-grid-column-one-third fs-masthead__logo">
            <a class="fs-link-text fs-masthead__logo-link" href="#">
              The Bread Club
            </a>
          </div>
          <div class="fs-grid-column-two-thirds fs-masthead__content">
            <nav
              class="fs-primary-navigation"
              id="navigation"
              aria-label="Main navigation"
            >
              <ul class="fs-primary-navigation__list">
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Loaves
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a
                    class="fs-link-text fs-primary-navigation__link"
                    href="#"
                    aria-current="true"
                  >
                    Rolls
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Pastries
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Crumpets
                  </a>
                </li>
                <li class="fs-primary-navigation__item">
                  <a class="fs-link-text fs-primary-navigation__link" href="#">
                    Treats
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main
      class="fs-width-container fs-!-margin-top-8 fs-!-margin-bottom-8"
      id="content"
    >
      <div class="fs-grid-row">
        <div class="fs-grid-column-one-third">
          <div
            class="fs-step-indicator"
            data-orientation="vertical"
            data-counters
            aria-label="Progress"
          >
            <ol class="fs-step-indicator__list">
              <li
                class="fs-step-indicator__item fs-step-indicator__item--current"
              >
                <span class="fs-step-indicator__label">
                  Membership type <span class="fs-!-sr">(current step)</span>
                </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Your details </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label">
                  Additional members
                </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Payment details </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Gift Aid </span>
              </li>
              <li class="fs-step-indicator__item">
                <span class="fs-step-indicator__label"> Review </span>
              </li>
            </ol>
          </div>
        </div>
        <div class="fs-grid-column-two-thirds">
          <h1 class="fs-heading-xl">
            <div class="fs-subheading-xl">Become a member</div>
            Membership type
          </h1>
          <form>
            <div class="fs-form-row">
              <fieldset class="fs-fieldset">
                <legend class="fs-fieldset__legend">
                  Choose a membership type
                </legend>
                <div class="fs-hint" id="MembershipType-Description">
                  Eco members will receive a membership card in the post, access
                  to the Members’ Area, exclusive discounts offered by third
                  parties and an electronic copy of the magazine. Paper-based
                  members will receive all the same benefits plus a welcome pack
                  and a paper copy of the magazine on a quarterly basis.
                </div>
                <div class="fs-choice-card-group">
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="MembershipType"
                      id="MembershipType1"
                      checked
                    />
                    <label
                      class="fs-choice-card__label"
                      for="MembershipType1"
                      aria-describedby="MembershipType-Description"
                    >
                      <strong class="fs-choice-card__heading">Eco</strong>
                      <div class="fs-choice-card__description">
                        Starting from £2 per month or £24 annually. Concessions
                        available.
                      </div>
                    </label>
                  </div>
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="MembershipType"
                      id="MembershipType2"
                    />
                    <label
                      class="fs-choice-card__label"
                      for="MembershipType2"
                      aria-describedby="MembershipType-Description"
                    >
                      <strong class="fs-choice-card__heading"
                        >Paper-based</strong
                      >
                      <div class="fs-choice-card__description">
                        Starting from £3 per month or £36 annually. Concessions
                        available.
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="fs-form-row">
              <fieldset class="fs-fieldset">
                <legend class="fs-fieldset__legend">
                  Choose payment period
                </legend>
                <div class="fs-choice-card-group">
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="PaymentPeriod"
                      id="PaymentPeriod1"
                      checked
                    />
                    <label class="fs-choice-card__label" for="PaymentPeriod1">
                      <strong class="fs-choice-card__heading">Monthly</strong>
                      <div class="fs-choice-card__description">
                        Direct Debit only.
                      </div>
                    </label>
                  </div>
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="PaymentPeriod"
                      id="PaymentPeriod2"
                    />
                    <label class="fs-choice-card__label" for="PaymentPeriod2">
                      <strong class="fs-choice-card__heading">Annually</strong>
                      <div class="fs-choice-card__description">
                        Direct Debit or credit/debit card.
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="fs-form-row">
              <fieldset class="fs-fieldset">
                <legend class="fs-fieldset__legend">
                  Support The Bread Club
                </legend>
                <div class="fs-hint" id="Donate-Description">
                  You can choose to support The Bread Club by donating an
                  additional amount on top of your membership fee.
                </div>
                <div class="fs-choice-card-group" style="--max-width: 4em">
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="Donate"
                      id="Donate1"
                      aria-describedby="Donate-Description"
                      checked
                    />
                    <label class="fs-choice-card__label" for="Donate1">
                      No thanks
                    </label>
                  </div>
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="Donate"
                      id="Donate2"
                      aria-describedby="Donate-Description"
                    />
                    <label class="fs-choice-card__label" for="Donate2">
                      Add £1.00
                    </label>
                  </div>
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="Donate"
                      id="Donate3"
                      aria-describedby="Donate-Description"
                    />
                    <label class="fs-choice-card__label" for="Donate3">
                      Add £2.50
                    </label>
                  </div>
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="Donate"
                      id="Donate4"
                      aria-describedby="Donate-Description"
                    />
                    <label class="fs-choice-card__label" for="Donate4">
                      Add £5.00
                    </label>
                  </div>
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="Donate"
                      id="Donate5"
                      aria-describedby="Donate-Description"
                    />
                    <label class="fs-choice-card__label" for="Donate5">
                      Add £10.00
                    </label>
                  </div>
                  <div class="fs-choice-card">
                    <input
                      class="fs-choice-card__input"
                      type="radio"
                      name="Donate"
                      id="Donate6"
                      aria-describedby="Donate-Description"
                    />
                    <label class="fs-choice-card__label" for="Donate6">
                      Add £20.00
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="fs-form-row">
              <button
                class="fs-button"
                type="submit"
                data-appearance="primary"
                data-layout="elastic"
              >
                Continue to next step
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer class="fs-footer">
      <div class="fs-width-container fs-footer__inner">
        <div class="fs-grid-row">
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__legal"
          >
            &copy; 2020 The Bread Club. All rights reserved.
          </div>
          <div
            class="fs-grid-column-full desktop:fs-grid-column-one-half fs-footer__links"
          >
            <ul class="fs-footer__list">
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Terms and conditions </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Privacy policy </a>
              </li>
              <li class="fs-footer__item">
                <a class="fs-footer__link" href="#"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="../../dist/all.js"></script>
    <script>
      window.fs.initAll();
    </script>
  </body>
</html>
