// Root font size
//
// Used to calculate rem sizes for typography. 16px is the default in virtually
// all browsers, however the user is free to scale this up and down according
// to their needs.
$fs-font-sizes-root: 16px !default;

// Main container
$fs-page-width: 960px !default;

// Grid system
$fs-grid: (
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%,
) !default;

// Grid gutters
$fs-gutter: 30px !default;
$fs-gutter-half: $fs-gutter / 2 !default;

// Generic borders
$fs-border-width: 0.5rem !default;
$fs-border-width-wide: 1rem !default;
$fs-border-width-narrow: 0.25rem !default;

// Focus state border
$fs-focus-width: 3px !default;

// Form input borders
$fs-border-width-form-element: 2px !default;
$fs-border-width-form-element-error: $fs-border-width-form-element !default;

// Horizontal rule width
$fs-hr-width: 1px !default;
