// Responsive font size map
$fs-font-sizes-responsive: (
  14: (
    null: (
      font-size: 12px,
      line-height: 15px,
    ),
    tablet: (
      font-size: 14px,
      line-height: 18px,
    ),
  ),
  16: (
    null: (
      font-size: 14px,
      line-height: 18px,
    ),
    tablet: (
      font-size: 16px,
      line-height: 22px,
    ),
  ),
  19: (
    null: (
      font-size: 16px,
      line-height: 22px,
    ),
    tablet: (
      font-size: 19px,
      line-height: 27px,
    ),
  ),
  24: (
    null: (
      font-size: 18px,
      line-height: 20px,
    ),
    tablet: (
      font-size: 24px,
      line-height: 30px,
    ),
  ),
  36: (
    null: (
      font-size: 24px,
      line-height: 25px,
    ),
    tablet: (
      font-size: 36px,
      line-height: 40px,
    ),
  ),
  48: (
    null: (
      font-size: 32px,
      line-height: 35px,
    ),
    tablet: (
      font-size: 48px,
      line-height: 50px,
    ),
  ),
  80: (
    null: (
      font-size: 53px,
      line-height: 55px,
    ),
    tablet: (
      font-size: 80px,
      line-height: 80px,
    ),
  ),
) !default;
