@use "../settings/colors-applied";
@use "../settings/measurements";
@use "../settings/typography-font";
@use "../helpers/typography";
@use "../helpers/links";

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  background-color: colors-applied.$fs-canvas-background-color;
  text-size-adjust: 100%;
  @if measurements.$fs-font-sizes-root != 16px {
    font-size: measurements.$fs-font-sizes-root;
  }
}

body {
  @include typography.fs-font-size(19);
  margin: 0;
  color: colors-applied.$fs-text-color;
  font-family: typography-font.$fs-font-body;
}

a:not([class]) {
  @include links.fs-link($visited-style: true);
}
