@use "../settings/colors";
@use "../settings/measurements";
@use "../settings/typography-font";

html {
  background-color: colors.$fs-canvas-background-color;
  text-size-adjust: 100%;
  @if measurements.$fs-font-sizes-root != 16px {
    font-size: measurements.$fs-font-sizes-root;
  }
}

body {
  margin: 0;
  color: colors.$fs-text-color;
}
