@use "../settings";

@use "../helpers/colors";

::-moz-selection {
  color: colors.fs-color-if-set(
    settings.$fs-primary-navigation-current-link-text-color,
    settings.$fs-primary-navigation-current-link-background-color
  );
  background-color: settings.$fs-primary-navigation-current-link-background-color;
}

::selection {
  color: colors.fs-color-if-set(
    settings.$fs-primary-navigation-current-link-text-color,
    settings.$fs-primary-navigation-current-link-background-color
  );
  background-color: settings.$fs-primary-navigation-current-link-background-color;
}
