.fs-\!-display-block {
  display: block !important;
}
.fs-\!-display-inline {
  display: inline !important;
}
.fs-\!-display-inline-block {
  display: inline-block !important;
}
.fs-\!-display-none {
  display: none !important;
}
