@use "../settings";
@use "../helpers/typography";

@use "sass:map";

// Font size
@each $size, $map in settings.$fs-font-sizes {
  .fs-\!-font-size-#{$size} {
    @include typography.fs-font-size($size, $important: true);
  }
}

@each $key, $map in settings.$fs-font-stacks {
  @each $weight, $value in $map {
    @if $weight == "stack" {
      .fs-\!-font-#{$key} {
        @include typography.fs-font-stack($key, $important: true);
      }
    } @else {
      .fs-\!-font-#{$key}-#{$weight} {
        @include typography.fs-font-stack(
          $key,
          $weight: $weight,
          $important: true
        );
      }
    }
  }
}

// Text alignment
.fs-\!-text-align-left {
  text-align: left !important;
}

.fs-\!-text-align-right {
  text-align: right !important;
}

.fs-\!-text-align-start {
  text-align: start !important;
}

.fs-\!-text-align-end {
  text-align: end !important;
}

.fs-\!-text-align-center {
  text-align: center !important;
}
