@use "sass:color";
@use "sass:map";
@use "sass:math";

// ====================================
// FEATURE TOGGLES
// ====================================

$fs-enable-core-styles: true !default;
$fs-enable-rounded-corners: false !default;
$fs-enable-weber-contrast: true !default;

// Merge maps or not?
$fs-merge-config-maps: true !default;
$fs-merge-breakpoints: if($fs-merge-config-maps, true, false) !default;
$fs-merge-colour-palette: if($fs-merge-config-maps, true, false) !default;
$fs-merge-spacing: if($fs-merge-config-maps, true, false) !default;
$fs-merge-font-stacks: if($fs-merge-config-maps, true, false) !default;
$fs-merge-font-sizes: if($fs-merge-config-maps, true, false) !default;

// ====================================
// BREAKPOINTS
// ====================================

$fs-default-breakpoints: (
  tablet: 650px,
  desktop: 800px,
);

$fs-breakpoints: () !default;
$fs-breakpoints: if(
  $fs-merge-breakpoints,
  map.merge($fs-default-breakpoints, $fs-breakpoints),
  $fs-breakpoints
);

// ====================================
// COLORS
// ====================================

// Default color palette
$fs-default-color-palette: (
  "red": #ef4444,
  "yellow": #f59e0b,
  "green": #10b981,
  "blue": #3b82f6,
  "indigo": #6366f1,
  "purple": #8b5cf6,
  "pink": #ec4899,
  "white": #fff,
  "black": #000,
  "grey5": #f9fafb,
  "grey10": #f3f4f6,
  "grey20": #e5e7eb,
  "grey30": #d1d5db,
  "grey40": #9ca3af,
  "grey50": #6b7280,
  "grey60": #4b5563,
  "grey70": #374151,
  "grey80": #1f2937,
  "grey90": #111827,
);

// User-defined colour palette
$fs-color-palette: () !default;
$fs-color-palette: if(
  $fs-merge-colour-palette,
  map.merge($fs-default-color-palette, $fs-color-palette),
  $fs-color-palette
);

// Brand accent (use sparingly)
$fs-brand-color: map.get($fs-default-color-palette, "grey90") !default;

// Background
$fs-canvas-background-color: map.get(
  $fs-default-color-palette,
  "grey5"
) !default;
$fs-body-background-color: $fs-canvas-background-color !default;

// Copy text
$fs-text-color: map.get($fs-default-color-palette, "grey90") !default;
$fs-text-color-heading: $fs-text-color !default;
$fs-text-color-secondary: map.get($fs-default-color-palette, "grey50") !default;

// Links
$fs-link-color: map.get($fs-default-color-palette, "blue") !default;
$fs-link-visited-color: map.get($fs-default-color-palette, "purple") !default;
$fs-link-hover-color: color.mix(#000, $fs-link-color, 20%) !default;
$fs-link-active-color: $fs-text-color !default;

// Accessibility states
$fs-focus-color: map.get($fs-default-color-palette, "yellow") !default;
$fs-focus-text-color: map.get($fs-default-color-palette, "black") !default;

// Contextual states
$fs-error-color: map.get($fs-default-color-palette, "red") !default;
$fs-success-color: map.get($fs-default-color-palette, "green") !default;

// Horizontal rule
$fs-border-color: map.get($fs-default-color-palette, "grey30") !default;

// Selection (text highlight) color
$fs-selection-color: $fs-brand-color !default;

// Form inputs
$fs-form-element-background-color: map.get(
  $fs-default-color-palette,
  "white"
) !default;
$fs-form-element-text-color: currentColor !default;
$fs-form-element-border-color: currentColor !default;

// ====================================
// MEASUREMENTS
// ====================================

// Page width container
$fs-page-width: 960px !default;

// Grid system
$fs-grid: (
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%,
) !default;

// Grid gutters
$fs-gutter: 30px !default;
$fs-gutter-half: math.div($fs-gutter, 2) !default;

// Generic borders
$fs-border-width: 0.5rem !default;
$fs-border-width-wide: 1rem !default;
$fs-border-width-narrow: 0.25rem !default;

// Focus state border
$fs-focus-width: 3px !default;

// Form input borders
$fs-border-width-form-element: 2px !default;
$fs-border-width-form-element-error: 4px !default;

// Horizontal rule width
$fs-hr-width: 1px !default;

// Default corner rounding
$fs-border-radius: 0.75rem !default;
$fs-form-element-border-radius: if(
  $fs-enable-rounded-corners,
  $fs-border-radius,
  0
) !default;

// Radios/checkboxes
$fs-check-radio-size: 1.5rem !default;

// ====================================
// SPACING
// ====================================

// Default spacing config
$fs-default-spacing: (
  0: (
    null: 0,
  ),
  1: (
    null: 5px,
  ),
  2: (
    null: 10px,
  ),
  3: (
    null: 15px,
  ),
  4: (
    null: 15px,
    tablet: 20px,
  ),
  5: (
    null: 15px,
    tablet: 25px,
  ),
  6: (
    null: 20px,
    tablet: 30px,
  ),
  7: (
    null: 26px,
    tablet: 40px,
  ),
  8: (
    null: 30px,
    tablet: 50px,
  ),
  9: (
    null: 40px,
    tablet: 60px,
  ),
);

// User-defined spacing config
$fs-spacing: () !default;
$fs-spacing: if(
  $fs-merge-spacing,
  map.merge($fs-default-spacing, $fs-spacing),
  $fs-spacing
);

// Form input padding
$fs-check-radio-margin: 3 !default;
$fs-form-element-horizontal-padding: 2 !default;
$fs-form-element-vertical-padding: 2 !default;

// ====================================
// TYPOGRAPHY
// ====================================

// Root font size
//
// Used to calculate rem sizes for typography, and used as the basis for a
// bunch of other calculations. 16px is the default in virtually all browsers,
// however the user is free to scale this up and down according to their needs.
$fs-font-sizes-root: 16px !default;

// Default font stacks
$fs-default-font-stacks: (
  body: (
    stack: (
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen-Sans,
      Ubuntu,
      Cantarell,
      "Helvetica Neue",
      sans-serif,
    ),
    regular: 400,
    bold: 700,
  ),
  header: (
    stack: (
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen-Sans,
      Ubuntu,
      Cantarell,
      "Helvetica Neue",
      sans-serif,
    ),
    regular: 400,
    bold: 700,
  ),
  code: (
    stack: (
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace,
    ),
    regular: 400,
    bold: 700,
  ),
);

// User-defined font stacks
$fs-font-stacks: () !default;
$fs-font-stacks: if(
  $fs-merge-font-stacks,
  map.merge($fs-default-font-stacks, $fs-font-stacks),
  $fs-font-stacks
);

// Font sizes / line heights
$fs-default-font-sizes: (
  14: (
    null: (
      font-size: 12px,
      line-height: 15px,
    ),
    tablet: (
      font-size: 14px,
      line-height: 18px,
    ),
  ),
  16: (
    null: (
      font-size: 14px,
      line-height: 18px,
    ),
    tablet: (
      font-size: 16px,
      line-height: 22px,
    ),
  ),
  19: (
    null: (
      font-size: 16px,
      line-height: 22px,
    ),
    tablet: (
      font-size: 19px,
      line-height: 27px,
    ),
  ),
  24: (
    null: (
      font-size: 18px,
      line-height: 20px,
    ),
    tablet: (
      font-size: 24px,
      line-height: 30px,
    ),
  ),
  36: (
    null: (
      font-size: 24px,
      line-height: 25px,
    ),
    tablet: (
      font-size: 36px,
      line-height: 40px,
    ),
  ),
  48: (
    null: (
      font-size: 32px,
      line-height: 35px,
    ),
    tablet: (
      font-size: 48px,
      line-height: 50px,
    ),
  ),
  80: (
    null: (
      font-size: 53px,
      line-height: 55px,
    ),
    tablet: (
      font-size: 80px,
      line-height: 80px,
    ),
  ),
);

// User-defined font stacks
$fs-font-sizes: () !default;
$fs-font-sizes: if(
  $fs-merge-font-sizes,
  map.merge($fs-default-font-sizes, $fs-font-sizes),
  $fs-font-sizes
);
